test-output/*
bin/*
*.log
*.classpath
*.project
*.class
/.settings/
*.txt
*.log
result/*
target/*
*.html
*.xml

*.lst
/target/
/QTC_Framework.iml
/.allure/*
Screenshots/*
/allure-results/*
batch/retry/ReportSummary.properties